#custom-board {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .swimlanes .board:not(.is-collapsed) {
    /* Tus estilos */
    width: 350px;
    border: 1px blue solid;
  }

  /* .gl-relative.gl-inline-block.gl-h-full.gl-whitespace-normal.gl-px-3.gl-align-top
  gl-relative gl-inline-block gl-h-full gl-whitespace-normal gl-px-3 gl-align-top is-collapsed gl-w-10" */

  .swimlanes .boards-list {
    height: 100px;
  }
}
